/* styles for the whole page */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* styles for the section part */
.section{
    width: 100%; 
    height: 100vh; 
    margin: 20px; 
    display: flex;
    align-items: center; 
    place-items: center;
    flex-direction: column;
    color: #AB9C67;
    background: #fafafa;
}
/* styles for the container part */
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem;
    background: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 4px 8px -4px;
    border-radius: 0.5rem;
    overflow: hidden;

}

.right-container{
    padding: 20px;
}
/* headings in right container */
.right-container h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* this is or the telecomm information  */
.information-center i { 
    color:  #AB9C67; 
    font-size: 35px; 
    width: 40px; 
    height: 40px; 
    border-radius: 55%; 
    text-align: center; 
    margin: 10px 15px; 
    vertical-align: middle; 
}

.information-center i.fa-envelope {
    font-size: 17px; 
    line-height: 40px; /*  line height */
}

.information-center p {
    display: inline-block; /* Displays inline block */
    color: black; 
    vertical-align: middle; /* Aligns vertically to middle */
    margin: 0; 
   
}

 .information-center p span {
    display: block; /* Displays block */
    font-size: 17px; 
   
}

 .information-center p a {
    color: black; /* text color */
    text-decoration: none; 
    /* Removes underline */
   
}


/* for the form */
.contactForm {
   display: grid;
   row-gap: 1rem; 
   padding: 30px;
}
/* for form input field */
.contactForm input {
    width: 100%;
    border: none;
    outline: none;
    background:  #AB9C67;
    padding: 10px;
    font-size: 0.9rem;
    color: black;
    border-radius: 0.4rem;
}
/* for textarea in form */ 
.contactForm textarea {
    resize: none;
    height: 200px;
    background: #AB9C67;
}
.contactForm .button {
    border: none;
    outline: none;
    background: #AB9C67;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

}
.button {
    padding: 20px;
    margin: 20px;
}
.contactForm .button:hover {
    background:#AB9C67;
    transition: 0.3s all linear;
}
.left-map iframe {
    width: 110%;
    height: 250px;
    padding: 10px;
}
/* Media query for smallest parts */
@media (max-width:964px){
    .container{
        margin: 0 auto;
        width: 90%;
    }
}
/*  even smallest parts */
@media (max-width: 700px ){
    .container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .left-map iframe {
        height: 400px;
    }
}
