* {
    margin: 0;
    padding: 0;
    font-family: "open sans" ,sans-serif;
    box-sizing: border-box;
 }

 /* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
 } */
 body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    min-height: auto;
}
/* header  */
header {
    width: 100vw;
    display: flex; /*Arrange the header horizontally*/
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-right: 0px;
    background-color: #897428b2;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
    margin:0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}


nav li {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #e0e0e0;
    transition: color 0.3s; /* Smooth color transition on hover */
}


nav li:hover {
    color: #ffffff; /* Change color on hover */
}

/* middle  */
 .about-section {
    background: url(15785.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
 }

 .inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
 }

 .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
 }

 .text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
 }

 
 @media screen and (max-width:1200px){
    .inner-container {
        padding: 80px;
    }
 }

 @media screen and (max-width:600px){ 
    .about-section {
        background-size: 100%;
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
 }
