* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body {
    background-color: #fafafa;
}


/* --------ABOUT US----------- */
.aboutUs {
    margin: 20px 50px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: rgb(35, 33, 33);
}
.text1 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(35, 33, 33);
    line-height: 20px;
    text-align: justify;
    margin-bottom: 25px;
    margin: 0 50px 25px 50px;
    line-height: 32px;
}
.StoryMission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin:  20px;
    padding: 20px;
}
#story-container, #mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    border: none;
    border-radius: 10px;
    color: rgb(35, 33, 33);
    background-color: #AB9C67;
    padding-top: 20px;
    margin: 20px;
}
#story-container h3, #mission-container h3 {
    padding-top: 60px;
}
.story, .mission {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 25px;
    padding: 90px;
    color: rgb(35, 33, 33);
    line-height: 25px;

}


/* --------ABOUT OUR PRODUCT----------- */
.product-container {
    background-color:rgb(35, 33, 33);
    max-width: 100vw;
    color: #AB9C67;
    margin: 0;
    padding: 20px 0;
}
.heading2 {
    margin: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.ProductInfo {
    display: flex;
    flex-direction: row;
    margin:  20px;
    justify-content: space-evenly;
    
}
.rangeQuality {
    font-size: 15px;
    width: 80%;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 25px;
    padding: 20px 30px;
}
.range, .quality {
    font-size: 15px;
    width: 80%;
    line-height: 20px;
    text-align: justify;
    margin: 25px;
    padding: 20px 30px;
    line-height: 32px;

}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.productImage {
    max-width: 30vw; 
    height: auto; 
    margin: 0 auto; 
}


/* --------OUR TEAM----------- */

.TR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    margin: 50px;
}

.heading3 {
    margin: 30px 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.teamInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileP {
    display: flex;
    justify-content: space-evenly;
    gap: 25%;
}
.profileA, .profileJ, .profileN {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* gap: 38%; */

}
#Aaliyah, #Johan, #Nibras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.Aaliyah, .Johan, .Nibras {
    text-align: center;
}
.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.teamMembers, .reviews {
    border-radius: 10px;
    color: rgb(35, 33, 33);
    background-color: #AB9C67;
    padding: 90px;
    max-width: 45vw;
    font-size: 15px;
    line-height: 25px;
}

.teamReviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:  20px;
    justify-content: space-evenly;
    align-items: center;
    
}

/* --------What People Say----------- */
.heading4 {
    margin: 30px 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.imageContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}
.imageContainer img {
    max-width: 100px;
    height: 110px;
    border-radius: 50%;
}



/* .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #AB9C67;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.copyright {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    padding: 16px;
}

.socials {
    display: flex;
    flex-direction: row;
}

.facebook, .instagram, .threads, .twitter {
    padding: 20px 15px;
} */


 
 @media screen and (max-width:960px){ 
    /* --------ABOUT US----------- */
    .StoryMission {
        flex-direction: column;
        align-items: center;
    }
    #story-container, #mission-container {
        min-width:90vw;
    }
    #story-container h3, #mission-container h3 {
        padding-top: 10px;
    }
    .story, .mission {
        padding: 40px;
    }
    /* --------ABOUT OUR PRODUCT----------- */
    .ProductInfo {
        flex-direction: column;
        align-items: center;
        text-align:center;
        padding: 0;
        margin: 0;
    }
    .rangeQuality {
        padding: 0;
    }
    .range, .quality {
        margin: 0;
        padding: 0;
        
    }
    .center-container {
        align-items: center;
    }
    .productImage {
        max-width: 60vw;
    }
    /* --------OUR Team----------- */
    .TR {
        justify-content: center;
        align-items: center;
    }
    .teamMembers, .reviews {
        max-width: 90vw;
        padding: 40px;
    }
    .profile-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #Aaliyah, #Johan, #Nibras {
        text-align: center;
        align-items: center;
    }
    /* --------What People Say----------- */
 }


 
 @media screen and (max-width: 400px) {
    /* --------OUR Team----------- */
    .profile-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    #Aaliyah, #Johan, #Nibras {
        align-items: center;
        margin: 20px;
    }
    .teamMembers, .reviews {
        min-width: 60vw;
        padding: 40px;
        text-align: justify;
    }
 }

 @media screen and (max-width: 200px) {
    
    .teamMembers, .reviews {
        text-align: justify;
    }
 }
