@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
/* -------------- Header Section --------------- */
.header {
    max-height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #201D1E;
}
nav img {
    width: 150px;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #AB9C67;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links ul li:hover::after {
    width: 100%;
} 
nav .close-button, .menu-button  {
    display: none;
}
/* -------------- Footer Section --------------- */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

  .footer-distributed{
    background:#201D1E;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 35px 10px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
    padding-left: 20px;
  }
  
  /* The company logo */
  
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
    font-weight: bold;
    
  } 
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #A38657;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color:#989473;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:#989473;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #75642E;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color: #989473;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
    /* margin-top: auto; */
  
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* background-color:  #33383b; */
    border-radius: 2px;
  
    font-size: 20px;
    color: #989473;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
      justify-content: left;
    }
  
  }
  
   /* Social Media Buttons */
  
  .fa {
      text-decoration: none;
  }
  
  .fa:hover {
      
      background-color:#AB9C67;
  }
  
  #fa-facebook {
      
      color: white !important;
  }
  
  .fa-twitter {
      
      color: white !important;
  }
  
  .fa-linkedin {
     
      color: white !important;
  }
  
  .fa-github {
      
      color: white !important;
  }





@media (max-width: 650px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #AB9C67;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .close-button, .menu-button {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        max-width: 20px;
        height: auto;
    }
    .nav-links ul {
        padding: 20px;
    }
    .menu-button {
        display: block; 
        cursor: pointer;
    }
    .close-button {
        display: none; 
    }
    .information p {
        margin: 10px 40px;
        font-size: 18px;
        color: #fff;
    }
    .learnMore {
        margin-top: 10px;
    }
} 
