/* Styles for the homepage */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0E100E;
    min-height: 100vh; 
    margin: 0; 
    color: #8A6C4D;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 0px;
    margin-right: 0px;
    background-color: #8A6C4D;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome {
    text-align: center;
    font-size: 7vh;
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
    margin:0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}


nav li {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    transition: color 0.3s; 
}


nav li:hover {
    color: #F7E7D7; 
}

main {
    padding: 20px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
}

.productInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 1em;
}


.productPicture {
    display: block;
    width: 35vw;
    height: auto;
    padding: 1em;
}

.learnMore, .contactNow {
    text-decoration: none;
    font-weight: bolder;
    color: #0E100E;
    background-color: #a48769;
    border-radius: 0.8em;
    padding:  0.6em 1em;
    margin: auto;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: #8A6C4D;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.copyright {
    color: #F7E7D7;
    padding: 0.2em 1em;
}

.socials {
    display: flex;
    flex-direction: row;
}

.facebook, .instagram, .threads, .twitter {
    padding: 1em 0.5em;
}

@media (max-width: 320px) {

    body {
        display: flex;
        flex-flow: column wrap;
        justify-items: center;
    }

    header {
        width: 100vw;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin-right: 0px;
        background-color: #8A6C4D;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .footer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        background-color: #8A6C4D;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .copyright {
        color: #F7E7D7;
        padding: 0.2em 1em;
        justify-content: center;
    }
    
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em 0.5em;
    }
    
} 
