/* Styles for the homepage */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: auto;
    display: flex; /*Arrange the header horizontally*/
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-right: 0px;
    background-color: #8A6C4D;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
    margin:0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}


nav li {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #e0e0e0;
    transition: color 0.3s; /* Smooth color transition on hover */
}


nav li:hover {
    color: #ffffff; /* Change color on hover */
}

main {
    flex: 1; /* Allow the main content to grow and take up the available space */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

main.phone-cards {
    display: flex;  /*Arrange the phone cards horizontally*/
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    flex-wrap: wrap;
}

.phone-card {
    width: 340px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and box-shadow */
}

.phone-card:hover {
    transform: scale(1.05); /* Enlarge on hover */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.phone-card img {
    width: 150px;
    max-height: 220px;
    border-radius: 8px;  /*Make the edges curved*/
    margin-bottom: 15px;
    object-fit: cover;
}

button.order-button {
    background-color: #8A6C4D;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

button.order-button:hover {
    background-color: #e74c3c; /* Change background color on hover */
}

@media (max-width: 400px) {
    nav ul{
        flex-direction: column;
    }
    main.phone-cards{
        flex-direction: column;
    }
} 
